<div class="block block-navbar wrapper">
  <div class="navbar-inner"><a class="navbar-logo" ui-sref="home"><img ng-src="{{ './assets/img/logo-normal' + cfg.logoExtension }}" /><img class="hover" ng-src="{{ './assets/img/logo-hover' + cfg.logoExtension }}" /></a>
    <nav class="navbar-list" ng-class="mobileMenu?'navbar-list-show':''">
      <div class="navbar-list-auth show-sm" ng-if="$root.auth_user">
        <!-- Auth menu-->
        <nav class="navbar-item-wrapper">
          <div class="navbar-item" translate="topnavbar.buttons.activate" ng-click="openActivateCodePopup()"></div>
        </nav>
        <nav class="navbar-item-wrapper" ng-if="$root.appConfigs.features.records.list">
          <div class="navbar-item" ui-sref="records">Mijn eigenschappen</div>
        </nav>
        <nav class="navbar-item-wrapper">
          <div class="navbar-item" translate="topnavbar.buttons.authorize" ng-click="openPinCodePopup()"></div>
        </nav>
        <nav class="navbar-item-wrapper">
          <div class="navbar-item" ui-sref="vouchers" translate="topnavbar.buttons.voucher"></div>
        </nav>
        <nav class="navbar-item-wrapper">
          <div class="navbar-item" translate="topnavbar.buttons.logout" ng-click="$root.signOut()"></div>
        </nav>
      </div>
    </nav>
    <div class="block block-auth block-auth-border hide-sm" ng-if="$root.auth_user">
      <div class="auth-code"><a class="button button-default" ui-sref="vouchers"><em class="mdi mdi-ticket-confirmation"></em><span translate="topnavbar.buttons.voucher"> </span></a></div>
    </div>
    <div class="block block-auth">
      <div class="auth-in" ng-if="$root.auth_user">
        <div class="auth-user">
          <div class="auth-user-email" ng-bind="$root.auth_user.primary_email"></div>
          <div class="auth-user-type" translate="topnavbar.items.identity"></div>
          <div class="auth-user-avatar"><img src="./assets/img/identity-avatar.svg" />
            <nav class="auth-user-menu hide-sm">
              <div class="triangle"></div>
              <div class="inner"><a class="auth-user-menu-item" ng-click="openActivateCodePopup()"><img src="./assets/img/icon-menu/icon-menu-my-vouchers.svg" /><span translate="topnavbar.buttons.activate"></span></a><a class="auth-user-menu-item" ui-sref="records" ng-if="$root.appConfigs.features.records.list"><img src="./assets/img/icon-menu/icon-menu-my-records.svg" />Mijn eigenschappen</a>
                <div class="auth-user-menu-item" ng-click="openPinCodePopup()"><em class="mdi mdi-cellphone"></em><span translate="topnavbar.buttons.authorize"></span></div>
                <div class="auth-user-menu-separator show-sm"></div><a class="auth-user-menu-item show-sm" ui-sref="funds" ng-if="$root.appConfigs.features.funds.list" ui-sref-active="active"><em class="mdi mdi-star-outline"></em><span translate="topnavbar.buttons.logout"></span></a><a class="auth-user-menu-item show-sm" ui-sref="products" ng-if="$root.appConfigs.features.products.list" ui-sref-active="active"><em class="mdi mdi-store"></em><span translate="topnavbar.buttons.products"></span></a>
                <div class="auth-user-menu-separator show-sm"></div>
                <div class="auth-user-menu-item show-sm" ui-sref="vouchers"><em class="mdi mdi-ticket-confirmation"></em><span translate="topnavbar.buttons.voucher"></span></div>
                <div class="auth-user-menu-separator"></div>
                <div class="auth-user-menu-item" ng-click="$root.signOut()"><img src="./assets/img/icon-menu/icon-menu-sign-out.svg" /><span translate="topnavbar.buttons.logout"></span></div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="auth-out" ng-if="!$root.auth_user">
        <div class="button button-default" ng-click="openAuthPopup()"><em class="mdi mdi-account"></em><span translate="topnavbar.buttons.login"></span></div>
      </div>
    </div>
    <div class="navbar-mobile-menu show-sm"><em class="mdi" ng-class="mobileMenu?'mdi-close':'mdi-menu'" ng-click="mobileMenu = !mobileMenu"></em></div>
  </div>
  <nav class="navbar-list" ng-class="mobileMenu?'navbar-list-show':''">
    <!-- Menu-->
    <nav class="navbar-item-wrapper" ng-if="$root.appConfigs.features.funds.list" ng-click="mobileMenu = false"><a class="navbar-item" ui-sref="funds" ng-bind="'topnavbar.items.funds' | translate" ui-sref-active="active"></a></nav>
    <nav class="navbar-item-wrapper" ng-if="$root.appConfigs.flags.productsMenu || $root.auth_user" ng-click="mobileMenu = false"><a class="navbar-item" ui-sref="products" ng-bind="'topnavbar.items.products' | translate" ui-sref-active="active"></a></nav>
    <nav class="navbar-item-wrapper" ng-if="$root.appConfigs.flags.forusPlatformMenu &amp;&amp; !$root.auth_user" ng-click="mobileMenu = false"><a class="navbar-item" target="_self" ui-sref="forus-platform" ui-sref-active="active" i18n="PLATFORM"> </a></nav>
    <nav class="navbar-item-wrapper" ng-if="$root.appConfigs.flags.meAppMenu &amp;&amp; !$root.auth_user" ng-click="mobileMenu = false"><a class="navbar-item" target="_self" ui-sref="me-app" ui-sref-active="active" i18n="ME"> </a></nav>
    <nav class="navbar-item-wrapper" ng-if="$root.appConfigs.flags.portfolioMenu &amp;&amp; !$root.auth_user" ng-click="mobileMenu = false"><a class="navbar-item" target="_self" ui-sref="portfolio" ui-sref-active="active" i18n="PORTFOLIO"></a>
      <nav class="navbar-menu">
        <div class="triangle"></div>
        <div class="inner"><a class="navbar-menu-item" ui-sref="kindpakket" i18n="Kindpakket"></a></div>
      </nav>
    </nav>
    <nav class="navbar-item-wrapper" ng-if="$root.appConfigs.flags.aboutSiteMenu &amp;&amp; !$root.auth_user" ng-click="mobileMenu = false"><a class="navbar-item" href="{{ $root.appConfigs.about_url }}" target="_blank" i18n="OVER ONS"></a></nav>
  </nav>
</div>