/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Open Sans', arial, sans-serif;

// text color
$tc:                #353535;

// base color
$bc:                #D82C7C;

$bc_2:              #70c567;

// footer color
$fc:                #f1f1f1;

// Displayed or not
$fd:                block;

// placeholder text color
$ptc:               #646f79;

$border_color:      #ececec;

$border_radius:     8px;

$color_primary:         #D82C7C;
$color_primary_light:   #D82C7C;

$color_default:         #D82C7C;
$color_default_light:   #D82C7C;